<h2>Check out my bookstore 🚀</h2>
<p>Click the link below to see the books:</p>

<button onclick=window.location.href="/books">See All Books</button>

<button onclick="window.location.href='/books/create'">Create a Book</button>
